<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <title>롤 전적 검색 OP.GG 로그인</title>
    <link rel="stylesheet" href="/css/home/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="./src/favicon_main.ico" />
</head>

<img src="./src/슉.슈슉.png" />

<body>
    <form action="" method="post">

        <div class="login">
            <ul class="top">
                <li><label for="txt1">이메일</label><input type="text" id="txt1"></li>
                <li><label for="txt2">비밀번호</label><input type="password" id="txt2"></li>
                <li class="btn"><a href="#a">로그인</a></li>
            </ul>
            <ul class="btm">
                <li>OP.GG가 처음이신가요?<a href="#a">회원가입</a></li>
            </ul>
        </div>
    </form>

</body>

</html>